$gray50: #F7FAFC;
$gray75: #F2F6FA;
$gray100: #EDF2F7;
$gray200: #E2E8F0;
$gray300: #CBD5E0;
$gray400: #A0AEC0;
$gray500: #718096;
$gray600: #4A5568;
$gray700: #2D3748;
$gray800: #1A202C;
$gray900: #171923;

$good-fg: #607631;
$moderate-fg: #8c6c1d;
$unhealthy-fg: #942431;

$good-bg: #a8e05f;
$moderate-bg: #fdd64b;
$unhealthy-bg: #fe6a69;

$min-content-width: 500px;
$max-content-width: 700px;
